:root {
    font-family: 'Open Sans', sans-serif;
    color: white;
    --white: #ffffff;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    background-color: black;
    animation: pageFadeIn ease 3s;
}

@keyframes pageFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75);
}

canvas {
    position: fixed !important;
    z-index: -2;
    opacity: 0.5;
}

#gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#header {
    background: none;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 15vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    height: 60vh;
    flex-grow: 1;
}

#buttondiv {
    background: none;
    box-sizing: border-box;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.splashtext {
    padding-top: 7.5vh;
}

.button {
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-top: 29vh;
    width: 15vw;
    height: 10vh;
    padding-bottom: 1vh;
}

.arrow {
    padding-top: 5vh;
}

.arrow span {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 0.25rem solid white;
    border-right: 0.25rem solid white;
    transform: rotate(45deg);
    margin: -1vw;
    animation: animateArrows 2s infinite;
}

@keyframes animateArrows {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-1vw, -1vw);
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(1vw, 1vw);
    }
}

#cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.25);
    margin: 1vw;
    flex-grow: 1;

    display: flex;
    padding: 1vw;
}

.card>img {
    margin-right: 2rem;
    max-width: 20vw;
}

#about {
    width: 100vw;
}

#cardlet {
    width: 40vh;
}

#footer {
    background-color: rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 6vw;
    margin-left: 6vw;
    margin-top: 25vh;
}

.social {
    font-size: 2rem;
    padding: 1rem;
    margin: 0 0.2rem;
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.35s;
    background-color: rgba(0, 0, 0, 0);
}

.social:hover {
    transition: background-color 0.35s;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(15, 15, 15, 1);
    transition: color 0.35s;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#signature {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Smaller  screed widths here */
@media screen and (max-width: 1200px) {
    #header {
        font-size: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .arrow span {
        width: 2.5vw;
        height: 2.5vw;
        border-bottom: 0.5vh solid white;
        border-right: 0.5vh solid white;
    }

    #cards {
        flex-direction: row;
    }

    #cardlet {
        width: 100vh;
    }
}

@media screen and (max-width: 750px) {
    #header {
        font-size: 7.5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .card>img {
        margin: 1vw;
        max-width: 50vw;
    }

    .card h3, p {
        margin: 1vw;
    }

    #cardlet {
        margin-top: 2.5vw;
    }
}